@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root {
    --body-font: 'Lato', sans-serif;
    --heading-font: 'Nunito Sans', sans-serif;
    --primary-color: #47beb9; // 09E665
    --heading-color: #160647;
    --black: #160647;
    --btn-bg1: #46beb8;
    --btn-bg2: #3fc9c3;
    --btn-bg3: #160647;
    --btn-bg4: #37325e;
    --white: #ffffff;
    --red: #d7373f;
    --magenta: #b125c0;
    --blue: #0057ff;
    --orange: #f6b91c;
    --bg-color1: #F9FEFF;
    --bg-color2: #F8FCFB;
    --body-color: #707070;
    --border-color1: #f2f2f2;
    --border-color2: #e1e1e1;
    --border-color3: #e1f1ee;
    --border-color4: #ccc;
    --primary-color-opacity-low: rgba(71, 190, 185, .1);
    --primary-color-opacity-low2: rgba(71, 190, 185, .2);
    --primary-color-opacity-low3: rgba(5, 160, 129, .3);
    --orange-opacity-low: rgb(234, 131, 49, 0.1);
    --shadow1: 0 0 0 0.25rem rgb(1 124 110 / 25%);
    --shadow2: 0px 3px 5px rgb(0 0 0 / 4%);
    --shadow3: 0 1px 5px rgb(25 25 25 / 15%);
    --shadow4: 0 1px 10px rgb(25 25 25 / 20%);
    --shadow5: 0 1px 10px rgba(0, 0, 0, 0.1);
    --drop-shadow1: drop-shadow(0 1px 2px rgba(0,
                0, 0, 0.4));
    --drop-shadow2: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    --transition: all .3s ease-in-out;
}

/*-------------------------------------------------------
                    reset
-------------------------------------------------------*/
::-moz-selection {
    color: #fff;
    background: #47beb9;
}

::selection {
    color: #fff;
    background: #47beb9;
}

/* preloader-start */
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff url(../images/preloader/cart.gif) no-repeat center;
    z-index: 99999;
    // background-size: 20%;
}

/* preloader-end */
.rtl {
    direction: rtl;
}

/* scroll-up_start */
.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99999;
}

.rtl .scroll-up {
    left: 50px;
    right: auto;
}

.scroll-up i {
    color: #fff;
    height: 40px;
    width: 40px;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);

    &:hover {
        background: var(--primary-color2);
    }
}

/* scroll-up_end */


*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    line-height: 1.5;
    color: var(--body-color);
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--white);
    padding-bottom: 30px;
}

@media (max-width: 991px) {
    body {
        padding-bottom: initial;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

textarea.form-control {
    height: initial;
}

.form-control {
    color: var(--black) !important;
}

.form-select {
    color: var(--body-color);
}

.form-control,
.form-select {
    border-radius: 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    height: 35px;
    font-size: 14px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 4px rgb(5 160 129 / 10%);
    border: 1px solid var(--primary-color) !important;
    background-color: var(--secondary-color);
}

.form-check label,
.form-check-input {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-input:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

.rtl .form-check {
    padding-left: auto;
    padding-right: 1.5em;

    .form-check-input {
        float: right;
        margin-right: -1.5em;
    }
}

.form-select {
    background-image: url(../images/shipment_calculator/downward-arrow.png);
    background-repeat: no-repeat;
}

.input-group-text {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--secondary-color);
}

// Select2 start
.select2-container {
    width: 100% !important;

    .select2-selection--single,
    .select2-selection--multiple {
        border: 1px solid transparent;

        &:focus {
            border: 1px solid var(--primary-color);
        }
    }



    .select2-dropdown {
        border: 1px solid var(--border-color2);

        .select2-search__field {
            border-radius: 5px;
            border: 1px solid var(--border-color2);
            outline: 0;

            &:focus-visible {
                border-color: var(--primary-color);
            }
        }
    }
}

.select2-container--default .select2-results__option--selected {
    background: var(--primary-color);
    color: var(--white);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: var(--primary-color);
}

.select2-container--default .select2-results>.select2-results__options {
    text-transform: capitalize;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 4px rgb(5 160 129 / 10%);
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid var(--border-color2);
}

.rtl .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 1px;
}

.rtl .select2-container .select2-selection--single .select2-selection__rendered {
    text-align: right;
}

// Select2 end

p {
    color: var(--black);
    margin-bottom: 10px;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out !important;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    background: none;
    border: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: 1.3;
    color: var(--heading-color);
}

h1 {
    font-size: 62px;
    margin-bottom: 25px;
    font-weight: 800;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 800;
    color: var(--heading-color);

}

h3 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}

h6 {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--heading-color);
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

.logo {
    max-width: 60px;
    min-width: 60px;
}

.footer-logo {
    max-width: 60px;
    min-width: 60px;
}

.cmn-scroll {
    max-height: 255px;
    overflow: scroll;
    padding-right: 5px;
    padding-top: 10px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color);
    visibility: hidden;
    opacity: 0;

}

:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 1;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: var(--primary-color);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots span {
    background: var(--primary-color);
    width: 30px;
    height: 10px;
}

.owl-theme .owl-dots .owl-dot span {
    transition: all 0.5s ease-in-out;
}

/* ===========reuseble_style_start ===========*/
.animation1 {
    position: relative;
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes animation1 {
    from {
        top: 0px;
    }

    to {
        top: 20px;
    }
}

.shape1 {
    position: absolute;
    top: -240px;
    z-index: -1;
    left: 35px;
}

.shape2 {
    position: absolute;
    top: 160px;
    z-index: -1;
    width: 260px;
}

.shape3 {
    position: absolute;
    top: 240px;
    left: 365px;
    z-index: -1;
}

.shape4 {
    position: absolute;
    top: 285px;
    left: 385px;
    z-index: -1;
    max-width: 175px;
}

.section_header {
    margin-bottom: 25px;
}

.top-right-radius-0 {
    border-top-right-radius: 0 !important;
}

.top-left-radius-0 {
    border-top-left-radius: 0 !important;
}

.bottom-right-radius-0 {
    border-bottom-right-radius: 0 !important;
}

.bottom-left-radius-0 {
    border-bottom-left-radius: 0 !important;
}

.highlight {
    color: var(--primary-color);
}

.bg-highlight {
    background: var(--primary-color) !important;
}

.text-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#47beb9), to(#ddcd86));
    background-image: linear-gradient(90deg, #47beb9, #ddcd86);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cmn-btn {
    background: var(--btn-bg1);
    padding: 7px 20px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    font-size: 18px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
        color: var(--white);
        background: var(--btn-bg2);
    }
}

.cmn-btn2 {
    background: var(--btn-bg3);
    padding: 7px 20px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    font-size: 18px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
        color: var(--white);
        background: var(--btn-bg4);
    }
}


.login-btn {
    padding: 25px 15px;
    transition: all .5s ease-in-out;
    font-size: 15px;
    margin-left: 5px;
    color: var(--heading-color);
    font-weight: 700;
    font-family: var(--heading-font);
}

.get-start-btn {
    padding: 10px 25px;
    border-radius: 9999px;
    font-size: 15px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background: var(--btn-bg1);
    color: var(--white);
    transition: var(--transition);

    &:hover {
        background: var(--btn-bg2);
        color: var(--white);
    }
}

.cmn_box2 i {
    margin-right: 15px;
    font-size: 40px;
    color: var(--primary-color);
}

.video_play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video_play_btn i {
    color: var(--white);
    background: var(--primary-color);
    height: 75px;
    width: 75px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 100px 0;
}

@media (max-width: 991px) {
    section {
        padding: 50px 0;
    }
}

.pro-title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--heading-color);
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 0;
    font-family: var(--heading-font);
}

.cmn-para-text {
    max-width: 600px;
    font-size: 18px;
}

.section-title {
    max-width: 500px;
}

.section_subtitle {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 700;
    max-width: 662px;
    position: relative;
    display: inline-block;
    font-family: 'Meddon', cursive;
    margin-bottom: 15px;
}

.social_area ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    margin-right: 14px;
    transition: all 0.3s ease-in;
    background: #2e2d2d;
}

.social_area ul li a:hover {
    background: var(--primary-color);
    color: var(--white) !important;
}

.star ul li i {
    color: var(--primary-color);

}

.star_area li .active {
    color: var(--primary-color);
}

.opacity {
    opacity: 0.5;
}

.badge {
    background: var(--secondary-color2);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 8px;
    padding: 3px;
    border-radius: 3px;

    &:hover {
        background: var(--primary-color);
    }
}

.rtl .badge {
    margin-right: 8px;
    margin-left: 0;
}

hr.divider {
    margin-top: 50px;
    padding: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid var(--border-color2);
    color: #6e6d7a;
    text-align: center;
    opacity: .75;
}

hr.divider:after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 16px;
    background: var(--white);
    color: var(--heading-color);
}

.dropdown-menu {
    max-height: 30rem;
    min-width: 13rem;
    overflow-y: auto;
    border-radius: 5px;
    padding: 8px;
    background: var(--white);
    border: 1px solid var(--border-color1);
    box-shadow: var(--shadow2);

    .dropdown-item {
        border-radius: 5px;
        padding: 3px 8px;
        transition: none !important;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 5px;
        text-transform: capitalize;
        font-weight: 500;

        &:hover {
            background: var(--primary-color);
            color: var(--white) !important;
        }

    }

}

/* reusable_style_end */

/* margin_top */
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-190 {
    margin-top: 190px;
}

/* margin_bottom */
.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-150 {
    margin-bottom: 150px;
}

/* padding_top */
.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-190 {
    padding-top: 190px;
}

.pt-200 {
    padding-top: 200px;
}

/* padding_botton */
.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-150 {
    padding-bottom: 150px;
}

/* reuseble_style_end */

// Nav area start
.navbar.active {
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 20%) 0px -2px 6px;
    z-index: 9999;
}

.transparent-nav.active .nav-link {
    color: var(--black) !important;
}

.navbar {
    background: var(--white);
    transition: all 0.5s ease-in-out;
    padding: 0;
    z-index: 9999;

    .navbar-nav {
        .nav-link {
            font-size: 15px;
            font-weight: 700;
            color: var(--black);
            text-transform: capitalize;

            &:hover {
                color: var(--primary-color);
            }
        }

        .nav-link.active {
            color: var(--primary-color);
        }

        .nav-right li {
            margin-left: 8px;
        }
    }

}

.desktop-nav {
    .navbar-nav {
        .nav-link {
            padding: 25px 15px;
        }
    }
}

.search-area {
    width: 100%;
    max-width: 520px;
    position: relative;

    .form-control {
        padding: 5px 10px 5px 40px;
        border-radius: 100px;
    }

    .input-group-text {
        position: absolute;
        left: 3px;
        top: 0;
        height: 100%;
        background: transparent;
        width: initial;
    }
}

// Responsive nav area start
@media (min-width: 992px) {
    .navbar-nav.footer-nav {
        display: none;
    }
}

@media (max-width: 991px) {
    .offcanvas.offcanvas-end {
        border-left: 0;
    }

    .navbar {
        padding: 15px 0;

        .nav-link {
            padding: 0 !important;
            margin: 10px;

            &:hover {
                border-bottom: 2px solid transparent;
            }
        }

        .nav-link.active {
            border-bottom: 2px solid transparent;
        }
    }

    .navbar.active {
        box-shadow: none;
    }

    .navbar-toggler {
        background: var(--primary-color);
        padding: 7px 10px;
        border-radius: 5px;
        border: none;

        &:focus {
            box-shadow: none;
        }

        i {
            color: var(--white);
        }
    }

    .nav-right {
        margin-top: 20px;
    }

    .offcanvas-body .navbar-nav .nav-item .nav-link {
        color: var(--black) !important;
    }
}

// Responsive nav area end

// Rtl nav start
.rtl .offcanvas.offcanvas-end {
    left: 0;
    right: auto;
    transform: translateX(-100%);
}

.rtl .offcanvas.show:not(.hiding),
.offcanvas.showing {
    transform: none !important;
}

.rtl .offcanvas-body .navbar-nav .nav-link {
    margin-right: 10px;
}

.rtl .search-area .input-group-text {
    transform: rotate(90deg);
}

@media (min-width: 991px) {
    .rtl .navbar .navbar-nav .nav-link {
        margin-right: 30px;
        margin-left: 0;
    }
}

// Rtl nav end
// Nav area end

// Hero area start
.hero-area {
    background: var(--bg-color1);
    padding: 200px 0 50px;

    .hero-para-text {
        font-size: 20px;
    }

    .hero-btn-area {
        display: flex;
        margin-top: 25px;

        .btn {
            margin-right: 10px;
        }
    }
}

// Hero area end

// Feature section start
.feature-section {
    background: linear-gradient(rgb(255, 255, 255, .6), rgb(255, 255, 255, .6)), url(../images/background/629d16c07d66dda95458cbad_Background-03\ \(1\).webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.feature-box {
    display: flex;
    border: 2px solid var(--primary-color-opacity-low2);
    padding: 40px 25px;
    border-radius: 25px;
    transition: var(--transition);
    background: rgb(255, 255, 255, .6);

    &:hover {
        transform: translateY(-4px);
    }

    .icon-box {
        min-width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid var(--primary-color-opacity-low2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        background: var(--white);

        i {
            color: var(--primary-color);
            font-size: 20px;
        }

    }

    .text-box {
        .highlight {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

// Feature sectin end

// How it works section start
.how-it-work {
    background: var(--bg-color2);

    .how-it-work-wrapper {
        .how-it-work-item {
            .section-header {
                display: flex;

                .number {
                    min-width: 30px;
                    min-width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background: var(--primary-color-opacity-low2);
                    border: 1px solid var(--primary-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    color: var(--primary-color);
                    margin-right: 15px;
                    font-weight: 700;
                }

                .text-area {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }

        .section-devider-area {
            padding: 10px 25%;
            margin: 0 auto;
        }
    }
}

// How it works section end

// Pricing section start
.pricing-section {
    background: var(--bg-color1);
}

.pricing-box {
    border-radius: 8px;
    background: var(--primary-color-opacity-low);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    ;

    .section-header {
        padding: 16px;
        border-bottom: 1px solid var(--primary-color-opacity-low3);
        border-right: 1px solid var(--primary-color-opacity-low3);
        border-bottom-right-radius: 8px;
        width: 90%;
        padding-top: 32px;
        text-align: center;

        .section-title {
            text-transform: capitalize;
        }
    }

    .section-body {
        color: var(--heading-color);
        padding: 32px;

        .title {
            font-size: 22px;
            margin: 32px 0;

            .price {
                font-weight: 500;
                font-size: 40px;
            }
        }

        .pricing-feature {
            margin-bottom: 32px;

            li {
                i {
                    color: var(--primary-color);
                    margin-right: 10px;
                }
            }

            li:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        .btn-area {

            .cmn-btn2 {
                width: 100%;
            }
        }
    }
}

.pricing-box.featured {
    border: 1px solid var(--primary-color);

    .section-header {
        border-color: var(--primary-color);
    }
}

// Pricing section end


// *---------------------------------------------------- */
// Testimonial section start
/*----------------------------------------------------*/

$color_1: #f6b91c;
$color_2: #161616;
$color_3: #444444;
$color_4: #373a5b;
$color_5: #fff;
$color_6: #202120;
$font-family_1: "Font Awesome 5 Free";
$background-color_1: white;
$background-color_2: #fff;
$background-color_3: #000;

.testimonial-section {
    background: var(--bg-color2);
}
.testimonial_content {
	padding: 20px;
	display: inline-block;
	.testimonial_rating {
		margin-top: 10px;
		li {
			font-size: 14px;
			color: var(--orange);
		}
	}
	.testimonial_text {
		z-index: 1;
		padding: 50px 40px;
		border-radius: 10px;
		border-bottom-left-radius: 0px;
		overflow: hidden;
		background-color: $background-color_1;
		box-shadow: 0px 7px 24px 0px rgba(2, 55, 156, 0.2);
		p {
			line-height: 1.875;
		}
		&:before {
			content: "";
			height: 100%;
			width: 40%;
			position: absolute;
			right: -45px;
			z-index: -1;
			bottom: -95px;
			opacity: 0;
			visibility: hidden;
			transition: 0.3s all ease-in-out;
			background-image: url(../img/saas-m/testimonial/tshape1.png);
			background-repeat: no-repeat;
		}
		&:hover {
			&:before {
				bottom: -85px;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.qoute_mark {
	&:after {
		content: "";
		position: absolute;
		left: 0px;
		bottom: -45px;
		z-index: 1;
		border-left: 0px solid transparent;
		border-right: 50px solid transparent;
		border-top: 45px solid #fff;
		filter: drop-shadow(0px 20px 13px rgba(2, 55, 156, 0.2));
	}
}
.testimonial_name_designation {
	margin-top: 30px;
	padding-left: 30px;
	.testimonial_img {
		height: 65px;
		width: 65px;
		border-radius: 100%;
		margin-right: 18px;
		overflow: hidden;
		border: 5px solid #fff;
		box-shadow: 0px 7px 6px 0px rgba(0, 15, 44, 0.19), inset -1px 0px 27px 0px rgba(0, 0, 0, 0.29);
	}
	.testimonial_meta {
		margin-top: 10px;
		display: inline-block;
		h4 {
			font-size: 22px;
			font-weight: 700;
			color: $color_2;
		}
		p {
			font-size: 14px;
			color: $color_3;
		}
	}
}
.testimonial_slider {
	.carousel-control-prev {
		top: auto;
		left: 190px;
		bottom: 40px;
		font-size: 18px;
		color: $color_4;
		width: 50px;
		height: 50px;
		opacity: 1;
		line-height: 58px;
		text-align: center;
		border-radius: 50px;
		font-weight: 700;
		display: inline-block;
		margin: 0px 15px 0px 0px;
		background-color: $background-color_2;
		transition: all 300ms ease;
		box-shadow: 0px 7px 7px 0px rgba(0, 15, 44, 0.18);
		left: 120px;
		&:before {
			position: absolute;
			content: "";
			left: 0px;
			top: 0px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			border-radius: 50px;
			font-family: $font-family_1;
			font-weight: 900;
			content: "";
		}
		&:hover {
			background-color: $background-color_3;
			color: $color_5;
		}
	}
	.carousel-control-next {
		top: auto;
		left: 190px;
		bottom: 40px;
		font-size: 18px;
		color: $color_4;
		width: 50px;
		height: 50px;
		opacity: 1;
		line-height: 58px;
		text-align: center;
		border-radius: 50px;
		font-weight: 700;
		display: inline-block;
		margin: 0px 15px 0px 0px;
		background-color: $background-color_2;
		transition: all 300ms ease;
		box-shadow: 0px 7px 7px 0px rgba(0, 15, 44, 0.18);
		&:before {
			position: absolute;
			content: "";
			left: 0px;
			top: 0px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			border-radius: 50px;
			font-family: $font-family_1;
			font-weight: 900;
		}
		&:hover {
			background-color: $background-color_3;
			color: $color_5;
		}
	}
}
.carousel-indicators {
	position: static;
}
.testimonial_indicator {
	margin: 20px 20px 0 0;
	display: block;
	height: 510px;
	max-width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-image: url(../images/testimonial/in-bg.png);
	.carousel-indicators {
		li {
			position: absolute;
			width: 60px;
			height: 60px;
			text-align: center;
			color: $color_6;
			border-radius: 50%;
			border: 5px solid #fff;
			overflow: hidden;
			transition: all 500ms ease;
			box-shadow: 0px 7px 6px 0px rgba(0, 15, 44, 0.19), inset -1px 0px 27px 0px rgba(0, 0, 0, 0.29);
			img {
				display: block;
			}
			&:nth-child(1) {
				bottom: 105px;
				right: 100px;
			}
			&:nth-child(2) {
				left: 90px;
				bottom: 45px;
			}
			&:nth-child(3) {
				top: 40%;
				left: 0px;
			}
			&:nth-child(4) {
				top: 90px;
				left: 100px;
			}
			&:nth-child(5) {
				top: 35%;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			&:nth-child(6) {
				right: 120px;
				top: -30px;
			}
		}
	}
	.active {
		transform: scale(1.5);
	}
}


/*---------------------------------------------------- */
// Testimonial section end
/*----------------------------------------------------*/



// Banner section start

.banner-area {
    background: linear-gradient(rgb(38 36 36 / 65%), rgba(38 36 36 / 65%)), url(../images/banner/hire-banner.jpg);
    min-height: 270px;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;

    .title-area {
        margin-top: 65px;

        h1 {
            font-size: 60px;
            margin-bottom: 15px;
            color: var(--white);
        }

        h3 {
            color: var(--white);
            font-weight: 400;
        }
    }
}


// Banner section end


// Feature section start

// Feature sectin end





// login signup area start
.login-signup-page {
    background: url(../images/background/sl_030720_28740_16.jpg);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 30px);
    display: flex;
    align-items: center;

    .login-signup-form {
        padding: 40px;
        background: var(--white);
        border-radius: 30px;

        .form-title {
            .description {
                font-size: 16px;
                max-width: 300px;
                margin: 0 auto;
                padding-top: 20px;
                font-weight: 500;
                color: var(--black2);
            }
        }

        .form-control {
            height: 45px;
            background: transparent;
            border: 1px solid var(--border-color2)
        }

        .cmn-btn {
            height: 45px;
            font-size: 16px;
            border-radius: 5px;
        }

        .cmn-btn2 {
            height: 45px;
            border-radius: 5px;
        }

        .cmn-btn-group {
            .btn img {
                margin-right: 5px;
                width: 16px;
            }
        }
    }
}

// Responsive login signup start
@media (max-width: 991px) {
    .login-signup-page {
        padding-top: 100px;
    }
}

// Responsive login signup end

// Rtl login signup page start
.rtl .login-signup-page .login-signup-form .cmn-btn-group .btn img {
    margin-left: 5px;
    margin-right: 0;
}

// Rtl login signup page end
// login signup area end

// Blog area start
.blog-area {
    .section-header {
        padding: 60px 40px;

        .blog-title {
            margin-bottom: 20px;
        }

        .blog-subtitle {
            font-size: 30px;
            max-width: 600px;
            margin: 0 auto;
            color: var(--heading-color);
            line-height: 1.2;
        }
    }

    .blog-box {
        background: var(--white);

        &:hover .text-area .title {
            color: var(--primary-color);
        }

        .subtitle-area {
            .subtitle {
                font-size: 18px;
                text-transform: capitalize;
                color: var(--primary-color);
                font-weight: 500;
                margin-bottom: 5px;
                font-family: var(--heading-font);
                padding: 0 5px;
            }
        }

        .image-area {
            img {
                height: 100%;
                height: 15vw;
                width: 100%;
                border-radius: 20px;
            }
        }

        .text-area {
            .title {
                margin-top: 15px;
                transition: var(--transition);
                padding: 0 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
        }
    }
}

// Responsive blog start
@media (max-width: 991px) {
    .blog-area {
        .blog-box .image-area img {
            height: 28vw;
        }

        .section-header .blog-subtitle {
            font-size: 20px;
        }

        .blog-box {
            .subtitle-area .subtitle {
                font-size: 15px;
            }

            .text-area .title {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 575px) {
    .blog-area .blog-box .image-area img {
        height: 50vw;
    }
}

// Responsive blog end

// Blog area end

// Blog details area start
.blog-details-area {

    .blog-details-hero {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(5, 160, 129, 0.1) 40%, rgba(5, 160, 129, 0.1) 40%);
        padding-top: 65px;
    }

    .section-left {
        .image-area {
            padding: 100px 0;
        }
    }

    .section-right {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px 0 90px;

        .header-area {
            .hero-title {
                font-size: 48px;
                font-weight: 600;
                color: var(--heading-color);
                line-height: 1.25;
                font-family: var(--heading-font);
            }

            .by-line {
                font-size: 18px;
                color: var(--heading-color);
                margin: 10px 0;
                font-weight: 600;

                .by-line-link {
                    text-decoration: underline;
                }

                .date {
                    color: var(--body-color);
                    font-size: 14px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                }
            }

            .share-btn-group {
                .social-btn {
                    display: flex;
                    padding: 10px;
                    border: 1px solid var(--border-color2);
                    border-radius: 5px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-right: 10px;
                        width: 16px;
                    }
                }
            }
        }

    }

    .blog-details-content {
        max-width: 1100px;
        padding: 60px 0;
        margin: auto;

        p {
            width: 63.63636364%;
            margin: 0 auto;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .pull {
            position: relative;
            margin: 30px 8% 35px;
            color: var(--heading-color);
            font-size: 32px;
            font-weight: 600;
            letter-spacing: -0.02em;
            line-height: 1.2;

            &::before {
                content: '“';
                position: absolute;
                left: -45px;
                margin-top: -12px;
                color: var(--primary-color);
                font-size: 82px;
                font-family: initial;
            }
        }

        .photo-large {
            width: 63.63636364%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

// Responsive blog details start
@media (max-width: 1399px) {
    .blog-details-area .section-right .header-area .hero-title {
        font-size: 38px;
    }
}

@media (max-width: 1199px) {
    .blog-details-area .section-right {
        padding: 0 0 0 50px;

        .header-area .hero-title {
            font-size: 32px;
        }
    }
}

@media (max-width: 991px) {
    .blog-details-area .section-right {
        padding: 0 20px 0 25px;

        .header-area .hero-title {
            font-size: 28px;
        }
    }
}

@media (max-width: 991px) {
    .blog-details-area {

        .section-left .image-area {
            padding: 50px 0;
        }

        .blog-details-content {
            .pull {
                font-size: 22px;

                &::before {
                    font-size: 60px;
                    left: -32px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .blog-details-area {
        .blog-details-hero {
            background: initial;
        }

        .blog-details-content {
            .pull {
                font-size: 22px;
                margin: 20px 20px 20px 60px;
            }
        }
    }
}

@media (max-width: 575px) {
    .blog-details-area {
        .section-right {
            padding: 0;

            .header-area {
                .hero-title {
                    font-size: 20px;
                }

                .by-line {
                    font-size: 16px;
                }
            }
        }

        .blog-details-content {
            p {
                width: 80%;
            }
        }
    }
}

// Responsive blog details end

// Rtl blog details start
.rtl .blog-details-area {
    .blog-details-hero {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(5, 160, 129, 0.1) 40%, rgba(5, 160, 129, 0.1) 40%);
    }

    .section-right .header-area .share-btn-group .social-btn img {
        margin-left: 10px;
        margin-right: 0;
    }

    .blog-details-content .pull::before {
        right: -45px;
        left: auto;
        content: "”";
    }
}

@media (max-width: 767px) {
    .rtl .blog-details-area .blog-details-hero {
        background: initial;
    }
}

// Rtl blog details end
// Blog details area end